@import "../../assets/styles/constants";
@import "../../assets/styles/mixins";

.lots-section{
  width: 100%;
  display: flex;
  justify-content: center;
}

.lots-list-content{
  padding: 30px 0;
  display: flex;

}

.filters{
  width: 20%;
  min-width: 200px;
  margin-left: 10px;
  padding-top: 10px;

}

.filters-container{
  padding: 10px;
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 9px 0px #a6a6a6;
  -moz-box-shadow: 0px 0px 9px 0px #a6a6a6;
  box-shadow: 0px 0px 9px 0px #a6a6a6;
  border: 1px solid #dfdfdf;
  h2{
    color: $second;
    font-size: 2em;
    font-weight: bold;
    span{
      display: none;
    }
  }
}

.filter-title{
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-container{
  user-select: none;
  margin: 20px 0;
  border-top: 2px solid #dfdfdf;
  padding: 20px 0 0 0;
  color: $second;


  select{
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    padding: 8px;
    margin: 2px;
    width: 100%;
    outline: none;
    font-size: 1em;
    background: white;
    color: $second;
    &:focus{
      border-color: $main;
    }
  }
}

.price-range{
  margin-top: 10px;
  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
      border: 1px solid #dfdfdf;
      border-radius: 8px;
      padding: 8px;
      margin: 2px;
      width: 45%;
      outline: none;
      font-size: 1em;
      &:focus{
        border-color: $main;
      }
    }
  }

}

.lots{
  width: 80%;
  padding-left: 20px;
  h1{
    padding: 10px;
    color: $second;
    font-size: 3em;
    font-weight: bold;


  }
}

.lots-grid{
  display: flex;
  flex-wrap: wrap;
}

.no-lots{
  padding: 20px;
  text-align: center;
  color: $second;
  font-size: 2em;
  font-weight: bold;
}
.pagination{
  display: flex;
  user-select: none;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

.pagination-item{
  width: 30px;
  height: 30px;
  display: flex;
  padding: 10px;
  margin: 0 5px;
  align-items: center;
  justify-content: center;
  color: $second;
  border-radius: 8px;


  &:hover{
    cursor: pointer;
    background: rgba(62, 197, 244, 0.16);

  }
  &.active{
    background: $main;
    color: white;
  }
}

.lot-card{
  transition: .2s ease-in-out;

  width: 33%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  height: 370px;
  >a{
    width: 100%;
    height: 100%;
  }
  &:hover{
    transform: scale(1.1);
    cursor: pointer;
    z-index: 1;
  }

}

.lot-card-content{
  background: white;
  .new{
    position: absolute;
    padding: 10px 20px;
    border: 1px solid;
    left: -14px;
    border-radius: 8px;
    background: greenyellow;
    color: white;
    font-weight: bold;
  }
  position: relative;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 9px 0px #a6a6a6;
  -moz-box-shadow: 0px 0px 9px 0px #a6a6a6;
  box-shadow: 0px 0px 9px 0px #a6a6a6;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;

  >div{
    width: 100%;
  }
}

.lot-short-data{
  height: 50%;
  padding: 10px;
}

.lot-name{
  @include text-overflow;
  color: $second;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
}
.lot-summary{
  color: rgba(9, 77, 110, 0.75);
}
.lot-price{
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 20px;
  display: flex;
  color: $main;
}


.lot-photo{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  img{
    height: 100%;
  }
}

.name-contains{
  width: 100%;
  div input{
    width: 100%;
  }
}
@media all and (max-width: 1050px){
  .lot-photo{
    height: 40%;
  }
}

@media all and (max-width: 860px){
  .lot-card{
    width: 100%;
    flex-direction: row;
    height: 150px;
    &:hover{
      transform: scale(1.01);
    }
    .lot-card-content{
      flex-direction: row;
      >div{
        width: unset;
      }
      .lot-photo{
        height: 100%;
        width: 200px;
        img{
          height: unset;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .lot-short-data .lot-price{
        margin-top: 5px;
      }
    }
  }
}


@media all and (max-width: 680px) {
  .lots-list-content{
    padding-top: 0;
    flex-direction: column;
    >section{
      width: 100%;
      margin: 0;
      padding: 10px;
    }
  }

  .filters{
    .filters-container{
      &.mobile-hide{
        >div{
          display: none;
        }
      }
      h2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          cursor: pointer;
          display: inline;
        }
      }
    }
  }
}

@media all and (max-width: 860px){
  .lot-card{
    height: 200px;
  }
  .lots .pagination{
    padding: 20px 5px;
    flex-wrap: wrap;
    .pagination-item{
      padding: 5px;
      margin: 0 2px;
    }
  }
}

@media all and (max-width: 400px){
  .lot-card {
    height: auto;
    .lot-card-content{
      .lot-photo{
        height: 200px;
        width: 100%;
      }
      .lot-short-data{
        height: auto;
        .lot-price{
          margin-top: 20px;
          justify-content: flex-end;
        }
      }
      flex-direction: column;
    }
  }
}
