@import "constants";

.main-header{
  user-select: none;
  position: fixed;
  height: 60px;
  //border-bottom: 1px solid;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: $second;
  z-index: 5;
  .main-header-content{
    height: 100%;
    display: flex;
    align-items: center;
    width: 1200px;
    justify-content: space-between;
    >div{
      height: 100%;
      display: flex;
      align-items: center;
      &:first-child{
        justify-content: flex-start;
      }
      &:last-child{
        justify-content: flex-end;
        padding-right: 20px;
      }
    }

    .search{
      position: relative;
      i{
        position: absolute;
        right: 12px;
        top: 8px;
        color: #dfdfdf;
        font-size: 20px;
      }
      input{
        background: transparent;
        padding: 8px 25px 8px 8px;
        border: 1.2px solid;
        color: white;
        margin: 0 5px;
        border-radius: 8px;
        font-size: 1em;
        outline: none;
        &:active, &:focus{
          background: white;
          color: black;
          border-color: #dfdfdf;
        }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: white;
          opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: white;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
          color: white;
        }
      }

    }

    .main-menu-buttons{
      display: flex;
      height: 100%;
      align-items: center;
      button{
        background: transparent;
        padding: 8px;
        border: 1.2px solid;
        cursor: pointer;
        color: white;
        margin: 0 5px;
        border-radius: 8px;
        font-size: 1em;
        outline: none;
        &:first-child{
          border: none;
        }
        &:hover{
          color: $main;
          border-color: $main;
        }
      }
    }

    .header-logo {
      height: 100%;
      img{
        height: 100%;
      }
    }
    .main-nav-list{
      height: 100%;
      display: flex;
      color: white;
      >li{
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        .drop-down-list{
          left: 0;
          min-width: 100%;
          top: 60px;
          position: absolute;
          display: none;
          flex-direction: column;
          color: $second;
          background: white;
          box-shadow: 0 3px 11px 0 #a0a0a0;
        li{
            &:hover{
              background: rgba(62, 197, 244, 0.13);
            }
            a{
              font-weight: normal;
              color: $second;
              padding: 10px;
              display: block;
            }

          }
        }
        &.drop-down:hover{
          ul{
            display: flex;
          }
        }
        i{
          margin-left: 5px;
        }
        &:hover{
          color: $main;
          border-color: white;
        }
        >a, >div{
          padding: 10px 20px;
          border-right: 2px solid;
          text-decoration: none;
          color: inherit;
          border-color: white;
          &.active{
            font-weight: bold;
            color: $main;
          }
        }
        &:last-child{
          border-right: none;
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .main-header .main-header-content{
    width: 100%;
  }
}
