@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}

.loader{
  position: fixed;
  top: 0;
  background: white;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  img{
    -webkit-animation: rotating 1s linear infinite;
  }
}
