@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import "constants";

html, body, #root{
  height: 100%;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.button-common{
  padding: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  margin: 5px 0;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  background: $main;
  color: white;
  font-weight: bold;
  &:hover{
    background: $second;
  }
}

.main-content{
  //display: flex;
  padding-top: 60px;
  min-height: calc(100% - 60px);
  >section>div{
    width: 1200px;
  }
}

.some-content{
  height: 700px;
  width: 100%;
}

@media all and (max-width: 1200px) {
  .main-content{
    //display: flex;
    padding-top: 60px;
    min-height: calc(100% - 60px);
    >section>div{
      width: 100%
    }
  }
}

