@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import "constants";

html, body, #root{
  height: 100%;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.button-common{
  padding: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  margin: 5px 0;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  background: $main;
  color: white;
  font-weight: bold;
  &:hover{
    background: $second;
  }
}

.section-title{
  font-size: 3em;
  text-align: center;
  /* text-shadow: 0 0 black; */
  padding: 20px;
  text-transform: uppercase;
  color: $main;
}

.main-content{
  //display: flex;
  padding-top: 60px;
  min-height: calc(100% - 60px);
  >section>div{
    width: 1200px;
  }
}

.some-content{
  height: 700px;
  width: 100%;
}

.last-lot-section{
  width: 100%;
  display: flex;
  justify-content: center;
  .grid-main{
    width: 100%;
    display: flex;
    padding: 15px;
    position: relative;
    justify-content: space-between;
    .view-more{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 120px;
      justify-content: center;
      align-items: center;
      display: flex;
      a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 3%,rgba(255,255,255,0.64) 10%,rgba(255,255,255,0.77) 25%,rgba(255,255,255,0.9) 49%,rgba(255,255,255,0.91) 50%,rgba(255,255,255,1) 62%);
      &:hover{
        cursor: pointer;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(62,197,244,0.4) 3%,rgba(62,197,244,0.64) 10%,rgba(62,197,244,0.77) 25%,rgba(62,197,244,0.9) 49%,rgba(62,197,244,0.91) 50%,rgba(62,197,244,1) 62%);
      }
    }
    .grid-column{
      display: flex;
      flex-direction: column;
      width: 25%;
      .grid-item{
        //border: 1px solid;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.12);
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .grid-item-data{
          display: none;
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.37);
        }
        &:hover{
          .grid-item-data{
            display: flex;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .main-content{
    //display: flex;
    padding-top: 60px;
    min-height: calc(100% - 60px);
    >section>div{
      width: 100%
    }
  }
}

@media all and (max-width: 1000px) {
  .last-lot-section{
    width: 100%;
    display: flex;
    justify-content: center;
    .grid-main{
      .grid-column{
        width: 33%;
        &:nth-child(4){
          display: none;
        }
      }
    }
  }
}

@media all and (max-width: 786px) {
  .last-lot-section{
    width: 100%;
    display: flex;
    justify-content: center;
    .grid-main{
      .grid-column{
        width: 50%;
        &:nth-child(3){
          display: none;
        }
      }
    }
  }
}


@media all and (max-width: 540px) {
  .last-lot-section{
    width: 100%;
    display: flex;
    justify-content: center;
    .grid-main{
      .grid-column{
        width: 100%;
        &:nth-child(2){
          display: none;
        }
      }
    }
  }
}

