@import "constants";

@mixin text-overflow{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin placeholder-color($color){
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
  }
}
