@import "constants";

// Radio button
.radio-button-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 5px;
  input{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:checked ~ .checkmark{
      &:before{
        background: $second;
      }
    }
  }

  .checkmark{
    height: 14px;
    position: absolute;
    left: 0;
    width: 14px;
    border-radius: 50%;
    border: 1px solid $second;
    box-sizing: border-box;
    &::before{
      border-radius: 50%;
      content: '';
      width: 7px;
      left: 2.5px;
      top: 2.5px;
      height: 7px;
      position: absolute;
    }
  }
}

// Checkbox
.check-box-container {
  display: flex;
  border-radius: 4px;
  align-items: center;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  height: 20px;
  vertical-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked{
      ~ .checkmark:after {
        display: block;
      }
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    &:after{
      content: "";
      position: absolute;
      display: none;
      left: 8px;
      top: 5px;
      width: 2px;
      height: 6px;
      border: solid $second;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}


.button-common{
  padding: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  margin: 5px 0;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  background: $main;
  color: white;
  font-weight: bold;
  &:hover{
    background: $second;
  }
  &:disabled{
    background: grey;
    &:hover{
      cursor: default;
      background: grey;
    }
  }
}


@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}

.spinner{
  -webkit-animation: rotating 1s linear infinite;
}

.form-input-container{
  display: flex;
  flex-direction: column;
  margin: 10px 0 ;
  color: $second;
  input, textarea{
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    margin: 5px 0;
    font-size: 1em;
    outline: none;
  }
  select{
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    margin: 5px 0;
    font-size: 1em;
    outline: none;
    background: white;
  }
  textarea{
    resize: none;
    height: 200px;
    font-size: inherit;
    font-family: inherit;
  }
  >label{
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
  }
}
