@import "../../assets/styles/constants";


.contacts-section{
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 60px);
}

.contacts-container{
  padding: 20px;
  display: flex;
  flex-direction: column;

  >div{
    width: 100%;
    height: 49%;
  };
}

.contact-info{
  background: #ffffffa6;
  z-index: 1;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.map{
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.contacts-data-column{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  color: $second;
}

.contacts-data-column-title{
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid $second;
}

.contacts-data-column-item{
  padding: 5px 0;
  .contacts-data-column-item-name{
    font-weight: bold;
  }
  div{
    margin-bottom: 3px;
  }

  i{
    font-size: 1.8em;
    width: 25px;
    margin-right: 10px;
  }
  &.social{
    display: flex;
    align-items: center;
    a{
      display: flex;
      align-items: center;
      color: $second;
      &:hover{
        color: $main;
        cursor: pointer;
      }
    }
  }
}


@media all and (max-width: 640px) {
  .contacts-data-column{
    height: auto;
    width: 100%;
    margin-bottom: 10px;
  }

  .contacts-container{
    >div{
      height: auto;
    }
    .contact-info{
      padding: 0;
      margin-bottom: 10px;
    }
  }

}
