@import "../../../../assets/styles/constants";

.why-auction{
  height: unset;
  min-height: calc(100vh - 60px);
  >div{
    position: static;
  }
}



.cards-container{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  margin-bottom: 35px;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 50%;
  flex-direction: column;
  img{
    width: 200px;
  }
  h3{
    text-align: center;
    color: $second;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    margin: 5px 0;
  }
  p{
    color: #094d6e;
    padding: 5px 50px 10px 50px;
    text-align: center;
    font-size: 1.3em;
  }
}


@media all and (max-width: 1000px) {
  .card {
    img {
      width: 150px;
    }

    h3 {
      text-align: center;
      color: $second;
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: bold;
      margin: 5px 0;

    }

    p {
      color: #094d6e;
      padding: 5px 20px 10px 20px;
      text-align: center;
      font-size: 1em;
    }
  }

  .cards-container{
    margin-top: 90px;
  }
}

@media all and (max-width: 540px) {
  .card{
    width: 100%;
  }

  .cards-container{
    margin-top: 0;
  }
}
